.contact{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
  }
  .contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: orange ;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
 .contact .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: orange;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 50%;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    
  }
  .right-side .message-box{
    min-height: 110px;
  }
  
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
   
    padding: 8px 16px;
    border-radius: 6px;
    background: orange;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: black;
  }
 
  @media (max-width: 950px) {
    .contact{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .contact .content .right-side{
     width: 75%;
     margin-left: 55px;
     
  }
  }
  @media (max-width: 820px) {
    .contact{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column;
    }
   .contact .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .contact .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

  @media screen and (max-width:411px){
    .contact{
      margin: 20px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column;
    }
   .contact .content .left-side{
     width: 50%;
     flex-direction: column;
     margin-top: -300px;
     justify-content: space-between;
     
   }
   .contact .content .left-side.topic,
   .email details.topic,.text-one,.text-two{
        font-size: 8px;
   }
   .container .content .left-side::before{
     display: none;
   }
   .contact .content .right-side{
     width: 50%;
     margin-left: 12px;
     margin-bottom: 0;
   }
  

p{
  font-size: 10px;
}

}
  
  